@charset "utf-8";
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;font-size:14px}
img,fieldset,button{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
button{cursor:pointer}
img{vertical-align:top}
select{vertical-align:middle}
table{border-collapse:collapse}
.blind {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
}
html,body,#container{height:100%}
.video_view{position:absolute;top:0;left:0}
.video_dim{position:fixed;top:0;left:0;z-index:2;width:100%;height:100%;background:#1ecfff url(../img/bg.png) no-repeat;opacity:.85;filter:alpha(opacity:85)}

.play_bar{position:fixed;bottom:80px;left:50%;background:url(../img/bg_play_bar.png) no-repeat;width:460px;height:50px;z-index:100;display:block;margin-left:-230px}
.video_controller{position:relative}
.btn_video_play{position:absolute;top:16px;left:20px;width:13px; height:18px; z-index:100;display:block;background:url(../img/ico_play.png) no-repeat}
.btn_video_play.stop{width:13px;height:16px;background:url(../img/ico_stop.png) no-repeat}
.progress_bar{position:absolute;top:22px;left:50px;height:6px;z-index:100;background:url(../img/bg_loding.png) no-repeat;display:inline-block}
.video_close{position:fixed;top:120px;right:100px;width:50px; height:50px; z-index:100;background:url(../img/btn_close.png) no-repeat;display:block;}
#wrap.mv{min-width:inherit;min-height:inherit}
#wrap.mv #header{position:fixed}

#wrap{position:relative;min-width:1280px;min-height:900px;height:100%}
#header{position:fixed;z-index:15;width:100%;height:70px;padding-bottom:1px;background:url(../img/bg_hd.png) repeat-x}
#header .lnb{position:relative;width:1200px;margin:0 auto}
#header .lnb h1{padding-top:13px}
#header .lnb h1 a{display:block;width:120px;height:43px;background:url(../img/spr_v2.png) no-repeat}
#header .lnb .menu_area{position:absolute;top:31px;left:407px}
#header .lnb .menu_area li{float:left;margin-right:71px}
#header .lnb .menu_area li a{display:block;background:url(../img/spr_v2.png) no-repeat}
#header .lnb .menu_area li.menu a{width:77px;height:39px;background-position:0 -50px}
#header .lnb .menu_area li.menu2 a{width:84px;height:39px;background-position:0 -90px}
#header .lnb .menu_area li.menu4 a{width:84px;height:39px;background-position:-131px -1px}
#header .lnb .menu_area li.menu a:hover{width:77px;height:39px;background-position:0 -351px}
#header .lnb .menu_area li.menu2 a:hover{width:84px;height:39px;background-position:-130px -90px}
#header .lnb .menu_area li.menu4 a:hover{width:84px;height:39px;background-position:-131px -351px}

#header .lang_select{position:absolute;top:22px;right:0}
#header .lang_select .choice{display:block;position:relative;width:130px;height:30px;background:url(../img/lang_select.png) no-repeat;line-height:30px;color:#000;text-indent:10px}
#header .lang_select .choice .arrow{display:block;position:absolute;top:14px;right:9px;width:5px;height:3px;background:url(../img/lang_sel_arrow.gif) no-repeat}
#header .lang_select .drop_box{display:none}
#header .lang_select.open .choice .arrow{background:url(../img/lang_sel_arrow2.gif) no-repeat}
#header .lang_select.open .drop_box{display:block;position:absolute;top:27px;left:0;width:100%;padding-bottom:5px;background:url(../img/lang_sel_bot.png) no-repeat 0 100%;z-index:5}
#header .lang_select.open .drop_box li{background:url(../img/lang_sel_pattern.png) repeat-y;line-height:32px;text-indent:10px}
#header .lang_select.open .drop_box li:first-child{padding-top:5px}
#header .lang_select.open .drop_box li a{color:#000}
#header .lang_select.open .drop_box li a:hover{color:#009cff}

#content.main_cont{position:absolute;top:50%;left:50%;z-index:10;width:1200px;margin:0 auto;margin:-467px 0 0 -600px}
#content.main_cont h2{width:397px;height:424px;margin:152px auto 0;background:url(../img/main_logo.png) no-repeat}
#content.main_cont .cont_txt{position:relative;width:588px;height:84px;margin:40px auto 0;background:url(../img/kr/main_txt.png) no-repeat}
#content.main_cont .cont_txt .btn_play{position:absolute;bottom:-10px;right:-20px;width:72px;height:72px;background:url(../img/btn_play.png) no-repeat}

.foot{position:absolute;left:50%;bottom:40px;z-index:10;width:1200px;margin:0 auto;margin:233px 0 0 -600px}
.foot .social{text-align:center}
.foot .social li{display:inline-block;*display:inline;margin-left:12px;text-align:center;zoom:1}
.foot .social li:first-chid{margin-left:0}
.foot .social li a{display:block;width:102px;height:102px;background:url(../img/spr_social.png) no-repeat}
.foot .social li.facebook a{background-position:0 0}
.foot .social li.twitter a{background-position:-110px 0}
.foot .social li.band a{background-position:-220px 0}
.foot .social li.blog a{background-position:0 -110px}
.foot .social li.cafe a{background-position:-110px -110px}
.foot .social li.insta a{background-position:-220px -110px}
.foot address{width:270px;height:12px;margin:20px auto 0;background:url(../img/copyright.png) no-repeat;text-indent:-9999px}
.foot address a{display:block;position:absolute;left:540px;bottom:0;width:80px;height:12px}

/* v live+ */
.vlive_page #header{position:fixed;z-index:15;width:100%;height:70px;background:url(../img/bg_hd.png) repeat-x}
.vlive_page #container{height:auto}
.vlive_page #content{height:auto}
.vlive_page #content .cont{position:relative;width:1200px;height:auto;margin:0 auto}
.vlive_page #content .cont p{text-indent:-9999px}

.vlive_page #content .section{height:481px;background:#6253de url(../img/kr/vlive_sec.png) no-repeat 50% 0}
.vlive_page #content .section2{height:641px;background:#eee}
.vlive_page #content .section2 .cont{width:100%;height:320px;background:url(../img/kr/vlive_sec2.png) no-repeat 50% 0;border-bottom:1px solid #fff}
.vlive_page #content .section2 .cont2{height:320px;background:url(../img/kr/vlive_sec2_2.png) no-repeat 50% 0}

.vlive_page #content .section3{position:relative;height:540px;background:#1f6476 url(../img/video_img.jpg) no-repeat 50% 0;overflow:hidden}
.vlive_page #content .section3 .video_area{height:540px}
.vlive_page #content .section3 .txt{position:absolute;top:210px;left:50%;margin-left:-125px;width:250px;height:38px;background:url(../img/vlive_sec3_txt.png) no-repeat;z-index:10}
.vlive_page #content .section3 .play_btn{position:absolute;top:263px;left:50%;margin-left:-61px;width:122px;height:122px;background:url(../img/vlive_sec3_play.png) no-repeat;z-index:10}
.vlive_page #content .section3 .dimed{position:absolute;top:0;left:0;width:100%;height:540px;background:url(../img/mv_pattern.png) repeat}

.vlive_page #footer{padding:40px 0;background:#fff}
.vlive_page .foot{position:relative;left:0;bottom:0;z-index:10;width:1200px;margin:0 auto}
.vlive_page .foot address{width:270px;height:12px;margin:20px auto 0;background:url(../img/copyright2.png) no-repeat;text-indent:-9999px}
.vlive_page .foot .social{padding-top:0;text-align:center}
.vlive_page .foot .social li.facebook a{background-position:0 -440px}
.vlive_page .foot .social li.twitter a{background-position:-110px -440px}
.vlive_page .foot .social li.band a{background-position:-220px -440px}
.vlive_page .foot .social li.blog a{background-position:0 -550px}
.vlive_page .foot .social li.cafe a{background-position:-110px -550px}
.vlive_page .foot .social li.insta a{background-position:-220px -550px}

/* what's */
.whats_page #header{position:fixed;z-index:15;width:100%;height:70px;background:url(../img/bg_hd.png) repeat-x}
.whats_page #container{height:auto}
.whats_page #content{height:auto}
.whats_page #content .cont{position:relative;width:1200px;height:1080px;margin:0 auto}
.whats_page #content .cont p{text-indent:-9999px}

.whats_page #content .section{height:1080px;background:#ff6581 url(../img/bg_sec.png) no-repeat 50% 0}
.whats_page #content .section .cont .txt{position:absolute;top:264px;left:63px;width:397px;height:344px;background:url(../img/kr/sec_txt.png) no-repeat}
.whats_page #content .section2{height:1080px;background:#8160d9 url(../img/bg_sec2.png) no-repeat 50% 0}
.whats_page #content .section2 .cont .txt{position:absolute;top:240px;left:100px;width:749px;height:168px;background:url(../img/kr/sec2_txt.png) no-repeat}
.whats_page #content .section3{height:1080px;background:#1ecfff url(../img/bg_sec3.png) no-repeat 50% 0}
.whats_page #content .section3 .cont .txt{position:absolute;top:230px;left:350px;width:520px;height:168px;background:url(../img/kr/sec3_txt.png) no-repeat}
.whats_page #content .section4{height:1080px;background:#fa6464 url(../img/bg_sec4.png) no-repeat 50% 0}
.whats_page #content .section4 .cont .txt{position:absolute;top:203px;left:402px;width:391px;height:276px;background:url(../img/kr/sec4_txt.png) no-repeat}
.whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/bg_sec5.png) no-repeat 50% 0}
.whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:314px;width:618px;height:243px;background:url(../img/kr/sec5_txt.png) no-repeat}
.whats_page #content .section6{height:1079px;background:#f0f0f0 url(../img/bg_sec6.png) no-repeat 50% 0}
.whats_page #content .section6 .cont .movie_article{position:absolute;top:433px;left:50%;width:800px;height:auto;margin-left:-400px}
.whats_page #content .section6 .cont .txt{position:absolute;top:199px;left:160px;width:876px;height:150px;background:url(../img/kr/sec6_txt.png) no-repeat}
.whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/kr/sec7_txt.png) no-repeat 50% 109px}
.whats_page #content .section7 .cont{height:673px}

.whats_page #footer{padding:40px 0;border-top:1px solid #fff;background:#f0f0f0}
.whats_page .foot{position:relative;left:0;bottom:0;z-index:10;width:1200px;margin:0 auto}
.whats_page .foot address{width:270px;height:12px;margin:17px auto 0;background:url(../img/copyright3.png) no-repeat;text-indent:-9999px}
.whats_page .foot .social{padding-top:0;text-align:center}
.whats_page .foot .social li.facebook a{background-position:0 -660px}
.whats_page .foot .social li.twitter a{background-position:-110px -660px}
.whats_page .foot .social li.band a{background-position:-220px -660px}
.whats_page .foot .social li.blog a{background-position:0 -770px}
.whats_page .foot .social li.cafe a{background-position:-110px -770px}
.whats_page .foot .social li.insta a{background-position:-220px -770px}

.whats_page .page_navi{*width:75px;position:fixed;top:50%;right:50px;margin-top:-88px}
.whats_page .page_navi li{margin-top:19px}
.whats_page .page_navi li:first-child{margin-top:0}
.whats_page .page_navi li a{display:block;margin:0 auto;background:url(../img/navi_spr.png) no-repeat}
.whats_page .page_navi li.page a{width:46px;height:49px;margin-left:20px;background-position:0 -302px}
.whats_page .page_navi li.page2 a{width:46px;height:27px;margin-left:20px;background-position:0 0}
.whats_page .page_navi li.page3 a{width:46px;height:31px;margin-left:20px;background-position:0 -59px}
.whats_page .page_navi li.page4 a{width:46px;height:36px;margin-left:20px;background-position:0 -118px}
.whats_page .page_navi li.page5 a{width:46px;height:39px;margin-left:20px;background-position:0 -181px}
.whats_page .page_navi li.page6 a{width:46px;height:30px;margin-left:20px;background-position:0 -246px}

.whats_page .page_navi li.page.on a{width:66px;height:54px;margin-left:0;background-position:-56px -348px}
.whats_page .page_navi li.page2.on a{width:64px;height:62px;margin-left:0;background-position:-57px 0}
.whats_page .page_navi li.page3.on a{width:67px;height:48px;margin-left:0;background-position:-54px -78px}
.whats_page .page_navi li.page4.on a{width:69px;height:56px;margin-left:0;background-position:-53px -142px}
.whats_page .page_navi li.page5.on a{width:69px;height:54px;margin-left:0;background-position:-56px -211px}
.whats_page .page_navi li.page6.on a{width:76px;height:56px;margin-left:0;background-position:-47px -280px}

/*en*/
.en #content.main_cont .cont_txt{position:relative;width:588px;height:88px;margin:40px auto 0;background:url(../img/en/en_main_txt.png) no-repeat}
.en .whats_page #content .section{height:1080px;background:#ff6581 url(../img/en/en_bg_sec.png) no-repeat 50% 0}
.en .whats_page #content .section .cont .txt{position:absolute;top:264px;left:40px;width:527px;height:368px;background:url(../img/en/en_sec_txt.png) no-repeat}
.en .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/en/en_bg_sec2.png) no-repeat 50% 0}
.en .whats_page #content .section2 .cont .txt{position:absolute;top:232px;left:86px;width:1117px;height:168px;background:url(../img/en/en_sec2_txt.png) no-repeat}
.en .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/en/en_bg_sec3.png) no-repeat 50% 0}
.en .whats_page #content .section3 .cont .txt{position:absolute;top:194px;left:0;width:1048px;height:169px;background:url(../img/en/en_sec3_txt.png) no-repeat}
.en .whats_page #content .section4{height:1080px;background:#fa6464 url(../img/en/en_bg_sec4.png) no-repeat 50% 0}
.en .whats_page #content .section4 .cont .txt{position:absolute;top:202px;left:248px;width:697px;height:276px;background:url(../img/en/en_sec4_txt.png) no-repeat}
.en .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/en/en_bg_sec5.png) no-repeat 50% 0}
.en .whats_page #content .section5 .cont .txt{position:absolute;top:200px;left:296px;width:618px;height:282px;background:url(../img/en/en_sec5_txt.png) no-repeat}
.en .whats_page #content .section6 .cont .txt{position:absolute;top:190px;left:62px;width:1076px;height:282px;background:url(../img/en/en_sec6_txt.png) no-repeat}
.en .vlive_page #content .section{height:481px;background:#6253de url(../img/en/en_vlive_sec.png) no-repeat 50% 0}
.en .vlive_page #content .section2{height:641px;background:#eee}
.en .vlive_page #content .section2 .cont{width:100%;height:320px;background:url(../img/en/en_vlive_sec2.png) no-repeat 50% 0;border-bottom:1px solid #fff}
.en .vlive_page #content .section2 .cont2{height:320px;background:url(../img/en/en_vlive_sec2_2.png) no-repeat 50% 0}
.en .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/en/en_sec7_txt.png) no-repeat 50% 109px}

/*jp*/
.ja #content.main_cont .cont_txt{position:relative;width:629px;height:84px;margin:40px auto 0;background:url(../img/jp/jp_main_txt.png) no-repeat}
.ja .whats_page #content .section{height:1080px;background:#ff6581 url(../img/jp/jp_bg_sec.png) no-repeat 50% 0}
.ja .whats_page #content .section .cont .txt{position:absolute;top:265px;left:50px;width:416px;height:340px;background:url(../img/jp/jp_sec_txt.png) no-repeat}
.ja .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/jp/jp_bg_sec2.png) no-repeat 50% 0}
.ja .whats_page #content .section2 .cont .txt{position:absolute;top:242px;left:100px;width:787px;height:170px;background:url(../img/jp/jp_sec2_txt.png) no-repeat}
.ja .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/jp/jp_bg_sec3.png) no-repeat 50% 0}
.ja .whats_page #content .section3 .cont .txt{position:absolute;top:230px;left:284px;width:622px;height:170px;background:url(../img/jp/jp_sec3_txt.png) no-repeat}
.ja .whats_page #content .section4 .cont .txt{position:absolute;top:200px;left:316px;width:560px;height:275px;background:url(../img/jp/jp_sec4_txt.png) no-repeat}
.ja .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/jp/jp_bg_sec5.png) no-repeat 50% 0}
.ja .whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:250px;width:684px;height:244px;background:url(../img/jp/jp_sec5_txt.png) no-repeat}
.ja .whats_page #content .section6 .cont .txt{position:absolute;top:200px;left:73px;width:1076px;height:282px;background:url(../img/jp/jp_sec6_txt.png) no-repeat}
.ja .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/jp/jp_sec7_txt.png) no-repeat 50% 109px}

/*zh_hans*/
.zh_hans #content.main_cont .cont_txt{position:relative;width:423px;height:84px;margin:40px auto 0;background:url(../img/zh_hans/zh_hans_main_txt.png) no-repeat}
.zh_hans .whats_page #content .section .cont .txt{position:absolute;top:272px;left:60px;width:316px;height:245px;background:url(../img/zh_hans/zh_hans_sec_txt.png) no-repeat}
.zh_hans .whats_page #content .section2 .cont .txt{position:absolute;top:242px;left:100px;width:800px;height:170px;background:url(../img/zh_hans/zh_hans_sec2_txt.png) no-repeat}
.zh_hans .whats_page #content .section3 .cont .txt{position:absolute;top:233px;left:318px;width:525px;height:170px;background:url(../img/zh_hans/zh_hans_sec3_txt.png) no-repeat}
.zh_hans .whats_page #content .section4 .cont .txt{position:absolute;top:200px;left:438px;width:510px;height:275px;background:url(../img/zh_hans/zh_hans_sec4_txt.png) no-repeat}
.zh_hans .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/zh_hans/zh_hans_bg_sec5.png) no-repeat 50% 0}
.zh_hans .whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:295px;width:520px;height:250px;background:url(../img/zh_hans/zh_hans_sec5_txt.png) no-repeat}
.zh_hans .whats_page #content .section6 .cont .txt{position:absolute;top:200px;left:200px;width:800px;height:150px;background:url(../img/zh_hans/zh_hans_sec6_txt.png) no-repeat}
.zh_hans .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/zh_hans/zh_hans_sec7_txt.png) no-repeat 50% 109px}


/*zh_hant*/
.zh_hant #content.main_cont .cont_txt{position:relative;width:423px;height:84px;margin:40px auto 0;background:url(../img/zh_hant/zh_hant_main_txt.png) no-repeat}
.zh_hant .whats_page #content .section .cont .txt{position:absolute;top:265px;left:60px;width:305px;height:275px;background:url(../img/zh_hant/zh_hant_sec_txt.png) no-repeat}
.zh_hant .whats_page #content .section2 .cont .txt{position:absolute;top:242px;left:100px;width:740px;height:170px;background:url(../img/zh_hant/zh_hant_sec2_txt.png) no-repeat}
.zh_hant .whats_page #content .section3 .cont .txt{position:absolute;top:233px;left:327px;width:580px;height:170px;background:url(../img/zh_hant/zh_hant_sec3_txt.png) no-repeat}
.zh_hant .whats_page #content .section4 .cont .txt{position:absolute;top:200px;left:345px;width:510px;height:275px;background:url(../img/zh_hant/zh_hant_sec4_txt.png) no-repeat}
.zh_hant .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/zh_hant/zh_hant_bg_sec5.png) no-repeat 50% 0}
.zh_hant .whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:340px;width:520px;height:250px;background:url(../img/zh_hant/zh_hant_sec5_txt.png) no-repeat}
.zh_hant .whats_page #content .section6 .cont .txt{position:absolute;top:200px;left:200px;width:800px;height:150px;background:url(../img/zh_hant/zh_hant_sec6_txt.png) no-repeat}
.zh_hant .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/zh_hant/zh_hant_sec7_txt.png) no-repeat 50% 109px}

/*vi*/
.vi #content.main_cont .cont_txt{position:relative;width:610px;height:84px;margin:40px auto 0;background:url(../img/vi/vi_main_txt.png) no-repeat}
.vi .whats_page #content .section{height:1080px;background:#ff6581 url(../img/vi/vi_bg_sec.png) no-repeat 50% 0}
.vi .whats_page #content .section .cont .txt{position:absolute;top:265px;left:70px;width:470px;height:365px;background:url(../img/vi/vi_sec_txt.png) no-repeat}
.vi .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/vi/vi_bg_sec2.png) no-repeat 50% 0}
.vi .whats_page #content .section2 .cont .txt{position:absolute;top:212px;left:130px;width:988px;height:252px;background:url(../img/vi/vi_sec2_txt.png) no-repeat}
.vi .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/vi/vi_bg_sec3.png) no-repeat 50% 0}
.vi .whats_page #content .section3 .cont .txt{position:absolute;top:195px;left:-45px;width:1130px;height:170px;background:url(../img/vi/vi_sec3_txt.png) no-repeat}
.vi .whats_page #content .section4{height:1080px;background:#fa6464 url(../img/vi/vi_bg_sec4.png) no-repeat 50% 0}
.vi .whats_page #content .section4 .cont .txt{position:absolute;top:200px;left:240px;width:715px;height:272px;background:url(../img/vi/vi_sec4_txt.png) no-repeat}
.vi .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/vi/vi_bg_sec5.png) no-repeat 50% 0}
.vi .whats_page #content .section5 .cont .txt{position:absolute;top:200px;left:295px;width:670px;height:272px;background:url(../img/vi/vi_sec5_txt.png) no-repeat}
.vi .whats_page #content .section6 .cont .txt{position:absolute;top:188px;left:85px;width:1026px;height:210px;background:url(../img/vi/vi_sec6_txt.png) no-repeat}
.vi .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/vi/vi_sec7_txt.png) no-repeat 50% 109px}

/*es*/
.es #content.main_cont .cont_txt{position:relative;width:620px;height:84px;margin:40px auto 0;background:url(../img/es/es_main_txt.png) no-repeat}
.es .whats_page #content .section{height:1080px;background:#ff6581 url(../img/es/es_bg_sec.png) no-repeat 50% 0}
.es .whats_page #content .section .cont .txt{position:absolute;top:200px;left:41px;width:510px;height:450px;background:url(../img/es/es_sec_txt.png) no-repeat}
.es .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/es/es_bg_sec2.png) no-repeat 50% 0}
.es .whats_page #content .section2 .cont .txt{position:absolute;top:200px;left:60px;width:1105px;height:252px;background:url(../img/es/es_sec2_txt.png) no-repeat}
.es .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/es/es_bg_sec3.png) no-repeat 50% 0}
.es .whats_page #content .section3 .cont .txt{position:absolute;top:195px;left:155px;width:672px;height:265px;background:url(../img/es/es_sec3_txt.png) no-repeat}
.es .whats_page #content .section4{height:1080px;background:#fa6464 url(../img/es/es_bg_sec4.png) no-repeat 50% 0}
.es .whats_page #content .section4 .cont .txt{position:absolute;top:203px;left:267px;width:670px;height:305px;background:url(../img/es/es_sec4_txt.png) no-repeat}
.es .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/es/es_bg_sec5.png) no-repeat 50% 0}
.es .whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:295px;width:675px;height:270px;background:url(../img/es/es_sec5_txt.png) no-repeat}
.es .whats_page #content .section6 .cont .txt{position:absolute;top:190px;left:75px;width:1050px;height:222px;background:url(../img/es/es_sec6_txt.png) no-repeat}
.es .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/es/es_sec7_txt.png) no-repeat 50% 109px}

/*id*/
.id #content.main_cont .cont_txt{position:relative;width:629px;height:92px;margin:40px auto 0;background:url(../img/id/id_main_txt.png) no-repeat}
.id .whats_page #content .section{height:1080px;background:#ff6581 url(../img/id/id_bg_sec.png) no-repeat 50% 0}
.id .whats_page #content .section .cont .txt{position:absolute;top:265px;left:40px;width:590px;height:365px;background:url(../img/id/id_sec_txt.png) no-repeat}
.id .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/id/id_bg_sec2.png) no-repeat 50% 0}
.id .whats_page #content .section2 .cont .txt{position:absolute;top:233px;left:25px;width:1150px;height:178px;background:url(../img/id/id_sec2_txt.png) no-repeat}
.id .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/id/id_bg_sec3.png) no-repeat 50% 0}
.id .whats_page #content .section3 .cont .txt{position:absolute;top:195px;left:-40px;width:1125px;height:170px;background:url(../img/id/id_sec3_txt.png) no-repeat}
.id .whats_page #content .section4{height:1080px;background:#fa6464 url(../img/id/id_bg_sec4.png) no-repeat 50% 0}
.id .whats_page #content .section4 .cont .txt{position:absolute;top:203px;left:245px;width:700px;height:275px;background:url(../img/id/id_sec4_txt.png) no-repeat}
.id .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/id/id_bg_sec5.png) no-repeat 50% 0}
.id .whats_page #content .section5 .cont .txt{position:absolute;top:200px;left:295px;width:670px;height:275px;background:url(../img/id/id_sec5_txt.png) no-repeat}
.id .whats_page #content .section6 .cont .txt{position:absolute;top:200px;left:130px;width:938px;height:155px;background:url(../img/id/id_sec6_txt.png) no-repeat}
.id .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/id/id_sec7_txt.png) no-repeat 50% 109px}
.id #content.main_cont .cont_txt .btn_play{right:0}

/*th*/
.th .whats_page #content .section3{height:1080px;background:#0c4e97 url(../img/th/th_bg_sec3.png) no-repeat 50% 0}
.th #content.main_cont .cont_txt{position:relative;width:617px;height:97px;margin:40px auto 0;background:url(../img/th/th_main_txt.png) no-repeat}
.th .whats_page #content .section .cont .txt{position:absolute;top:235px;left:60px;width:490px;height:405px;background:url(../img/th/th_sec_txt.png) no-repeat}
.th .whats_page #content .section2{height:1080px;background:#8160d9 url(../img/th/th_bg_sec2.png) no-repeat 50% 0}
.th .whats_page #content .section2 .cont .txt{position:absolute;top:242px;left:100px;width:1000px;height:170px;background:url(../img/th/th_sec2_txt.png) no-repeat}
.th .whats_page #content .section3{height:1080px;background:#1ecfff url(../img/th/th_bg_sec3.png) no-repeat 50% 0}
.th .whats_page #content .section3 .cont .txt{position:absolute;top:232px;left:107px;width:835px;height:170px;background:url(../img/th/th_sec3_txt.png) no-repeat}
.th .whats_page #content .section4{height:1080px;background:#fa6464 url(../img/th/th_bg_sec4.png) no-repeat 50% 0}
.th .whats_page #content .section4 .cont .txt{position:absolute;top:202px;left:226px;width:750px;height:280px;background:url(../img/th/th_sec4_txt.png) no-repeat}
.th .whats_page #content .section5{height:1080px;background:#0c4e97 url(../img/th/th_bg_sec5.png) no-repeat 50% 0}
.th .whats_page #content .section5 .cont .txt{position:absolute;top:220px;left:253px;width:740px;height:242px;background:url(../img/th/th_sec5_txt.png) no-repeat}
.th .whats_page #content .section6 .cont .txt{position:absolute;top:190px;left:100px;width:1002px;height:210px;background:url(../img/th/th_sec6_txt.png) no-repeat}
.th .whats_page #content .section7{height:673px;background:#f0f0f0 url(../img/th/th_sec7_txt.png) no-repeat 50% 109px}