@charset "utf-8";
/* Common */

html {
    height: 100%
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

body, input, textarea, select, button, table {
    font-size: 14px;
    line-height: 18px;
    font-family: AppleSDGothicNeo-Regular, sans-serif, '나눔고딕', nanumgothic, HelveticaNeue-Light, Helvetica;
    color: #252525
}

body {
    position: relative;
    height: 100%;
    background: #e9ecef !important;
    -webkit-text-size-adjust: none
}

img, fieldset {
    border: 0
}

ul, ol {
    list-style: none
}

em, address {
    font-style: normal
}

a {
    text-decoration: none
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

table {
    border-collapse: collapse
}

i {
    font-style: normal;
    font-weight: normal;
    font-family: Helvetica-Light, '나눔스퀘어', NanumSquare, sans-serif;
}

hr {
    display: none !important
}

.u_skip, .blind {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
}

/* 공통 */

.promotion_wrap {
    min-width: 320px;
    letter-spacing: -0.5px
}

.content {
    min-width: 320px;
    overflow: hidden;
    font-size: 12px;
    font-family: NanumSquare, '나눔스퀘어', AppleSDGothicNeo-Regular, sans-serif, '나눔고딕', nanumgothic, HelveticaNeue-Light, Helvetica;
}

.content .inner {
    position: relative;
    width: 300px;
    height: 100%;
    margin: 0 auto;
}

.gift_point .point_color {
    color: #631cff;
}

/* spot */

.gift_point .inner {
    position: relative;
    width: 320px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.gift_point .spot {
    height: 605px;
    background: url(../im/bg_spot_pattern.png) repeat-x;
    background-size: 1px 605px;
    -webkit-background-size: 1px 605px;
    margin: 5px auto 0;
}

.gift_point .spot .inner {
    width: 100%;
    background: url(../im/bg_spot_v2.png) no-repeat 50% 0;
    background-size: 667px 605px;
    -webkit-background-size: 667px 605px;
}

/* section01 */

.section01 {
    position: relative;
    overflow:hidden;
    height: 1942px;
    background: #f1f5f8 url(../im/bg_section01_6.jpg) no-repeat 50% 0;
    background-size: 375px 1942px;
    -webkit-background-size: 375px 1942px;
}
.section01 .inner{
    overflow:hidden;
}
.section01 .sub_desc{
    display:block;
    font-size:13px;
    line-height:15px;
    text-align:center;
    color:#a7a6aa;
    letter-spacing: -1.4px;
}
.section01 ol>li:nth-child(1) .sub_desc{
    margin-top:562px;
}
.section01 ol>li:nth-child(2) .sub_desc{
    margin-top:259px;
}

.section01 .point_stress{
    position:relative;
    display:block;
    font-size:15px;
    line-height:21px;
    text-align:center;
    color:#631cff;
    letter-spacing: -1.4px;
}
.section01 ol>li:nth-child(1) .point_stress{
    margin-top:744.5px;
}
.section01 ol>li:nth-child(2) .point_stress{
    margin-top:58px;
}

.section01 .point_stress:before{
    content:"";
    display:block;
    width:25px;
    height:25px;
    background: url(../im/stress_icon.jpg) no-repeat 50% 0;
    background-size: 24.5px 24.5px;
    -webkit-background-size: 24.5px 24.5px;
    position:absolute;
    top:-34px;
    left: 50%;
    margin-left: -12px;
}
.section01 ol>li:nth-child(1) .point_stress:before{
    margin-left: -6px;
}
.section01 .gift_area {
    position: absolute;
    bottom: 76px;
    left: 24px;
    width: 270px;
    height: 70px;
}

/* section02 */

.section02 {
    height: 572px;
    background: #f1f5f8 url(../im/bg_section02.png) no-repeat 50% 0;
    background-size: 667px 572px;
    -webkit-background-size: 667px 572px;
}

.section02 h4 {
    padding-top: 23px;
    font-size: 20px;
    color: #222;
    line-height: 28px;
    font-weight: normal;
}

.section02 h4 .tip {
    font-family: 'NanumSquareExtrabold';
}

.section02 h4 em {
    font-weight: bold;
}

.section02 .evt_txt {
    padding-top: 53px;
    font-size: 13px;
    color: #555;
    line-height: 20px;
    letter-spacing: -0.26px;
}

.section02 .evt_txt em {
    color: #000;
    font-weight: bold;
    background-color: #d4c9fd
}

.section02 .sub_txt {
    display: block;
    position: relative;
    margin: 163.5px 0 0 40px;
    padding-left: 33px;
    line-height: 17px;
    font-size: 12px;
    color: #888;
    text-align: left;
}

.section02 .sub_txt .ex_ico {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 29px;
    height: 29px;
    line-height: 30px;
    background-color: #00c73c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.section02 .guide_txt {
    text-align: left;
    margin: 42px 0 0 19px;
}

.section02 .guide_txt li {
    position: relative;
    padding-left: 7px;
    color: #848484;
    letter-spacing: -0.65px;
    line-height: 18px;
    font-size: 13px;
}

.section02 .guide_txt li:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0px;
    width: 3px;
    height: 3px;
    background-color: #808080;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.section02 .guide_txt li a {
    color: #848484;
    text-decoration: underline;
}

.info_page {
    height: 80px;
    background: #4406cc url(../im/info_page.png) no-repeat 50% 0;
    background-size: 320px 80px;
    -webkit-background-size: 320px 80px;
}

.info_page a {
    display: block;
    padding: 18px 0 20px 22px;
    height: 80px;
    text-align: left;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.7px;
    color: #fefefe;
    text-decoration: none;
}

.info_page em {
    font-weight: bold;
    color: #fefefe;
    text-decoration: none;
}

.spot .slider {
    height: 254px;
    font-size: 0;
    white-space: nowrap;
}

.spot .slider_area {
    width: 270px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 297px;
}

.spot .slider_area img {
    position: absolute;
    left: 50%;
    height: 254px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*panel*/

.content .noti_wrap {
    background-color: #fff
}

.content .noti_wrap .noti_box {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.content .noti_wrap .panel_body{
    font-family: AppleSDGothicNeo-Regular, sans-serif, '나눔고딕', nanumgothic, HelveticaNeue-Light, Helvetica;
}
.content .noti_wrap .panel_body .noti_lst >li {
    position: relative;
    margin-bottom: 17px;
    padding-left: 6px;
    font-size: 13px;
    color: #525252;
    line-height: 20px
}

.content .noti_wrap .panel_body .noti_lst li strong {
    display: inline-block;
    padding-bottom: 7px;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.7px;
}

.content .noti_wrap .panel_body .in_list>li {
    position: relative;
    padding-left: 10px;
}

.content .noti_wrap .panel_body .in_list>li::before {
    position: absolute;
    width: 2.5px;
    height: 2.5px;
    top: 7px;
    left: 3px;
    background: #7a7a7a;
    content: '';
}

.content .noti_wrap .panel_body .subject_guide{
    margin-top:17px;
}


.content .noti_wrap .panel_body .stress_txt > li{
    position:relative;
    padding-left:14px;
}
.content .noti_wrap .panel_body .stress_txt>li::before{
    content:"※";
    position:absolute;
    top:0;
    left:0;
}
.content .noti_wrap .panel_body .stress_txt>li+li{
    margin-top:4px;
}

.content .noti_wrap .panel_body p {
    font-size: 11px;
    color: #888;
    line-height: 16px
}

.content input.hidden {
    position: absolute;
    visibility: hidden
}

.content .fold_panel~.fold_panel:before {
    display: block;
    position: absolute;
    top: -1px;
    width: 100%;
    z-index: 1;
    height: 1px;
    background: #f1f3f5;
    content: ''
}

.content .fold_panel .panel_heading {
    position: relative;
    min-height: 50px;
}

.content .fold_panel .ico_arr {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13px;
    width: 21px;
    height: 21px;
    margin: auto;
    content: '';
    background: url(../im/ico_arrow.png) no-repeat 3px 6px;
    background-size: 15px 8px;
    -webkit-background-size: 15px 8px;
    border: 1px solid #555;
}

.content .fold_panel .noti {
    display: block;
    position: relative;
    padding: 16px 38px 15px 16px;
    background: #fff;
    font-size: 17px;
    color: #000;
    line-height: 19px;
    cursor: pointer;
    letter-spacing: -.85px
}

.content .fold_panel .noti_tit {
    display: block;
    margin-top: 8px;
    padding-bottom: 3px;
    color: #000;
    font-size: 11px;
    color: #000
}

.content .fold_panel .noti_tit:first-child {
    margin-top: 0
}

.content .fold_panel .panel_body {
    display: none;
    position: relative;
    padding: 26px 13px 18px 15px;
    border-top: 1px solid #f1f3f5;
    background-color: #fff;
}

.content :checked+.fold_panel+input+.fold_panel:before {
    z-index: -1
}

.content :checked+.fold_panel .panel_body {
    display: block
}

.content :checked+.fold_panel .ico_arr {
    transform: rotate(180deg)
}

/* footer */

.footer {
    height: 368px;
    text-align: center;
    background-color: #f0f0f0;
    font-family: NanumSquare, '나눔스퀘어', AppleSDGothicNeo-Regular, sans-serif, '나눔고딕', nanumgothic, HelveticaNeue-Light, Helvetica;
}

.footer strong {
    display: block;
    padding: 33px 0 0px 0;
    font-size: 20px;
    color: #000;
    line-height: 30px;
    letter-spacing: -1.6px;
}

.footer .footer_txt {
    padding: 4px 0 0px 0;
    font-size: 15px;
    color: #a5a5a5;
    line-height: 19px;
    letter-spacing: -0.9px;
}

.footer .list_sns {
    overflow: hidden;
    width: 238px;
    height: 153px;
    margin: 21.5px auto 38px;
    background: url(../im/footer_sns.png) no-repeat 50% 0;
    background-size: 238px 153px;
    -webkit-background-size: 238px 153px;
    text-align:left;

}
.footer .list_sns li{
    float: left;
    height: 70.5px;
    width: 70.5px;
    margin-right: 12px;
    padding-bottom: 12px;
}
.footer .list_sns li:nth-child(3){
    width:71px;
}
.footer .list_sns li:nth-child(5){
    margin-right: 14.5px;
}
.footer .list_sns li:nth-child(3n){
    margin-right: 0
}
.footer .list_sns a{
    display: block;
    height: 70.5px;
    text-decoration: none;
}
.footer .copy {
    margin-bottom: 50px;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.52px;
    color: rgba(152, 153, 155, 0.9);
}

.footer .copy .link_corp {
    color: rgba(152, 153, 155, 0.9);
}

/* 보너스이벤트페이지 */

.bonus_evt .spot {
    position: relative;
    height: 704px;
    background: #f5d6f7 url("../im/bg_spot_bonus.png") 50% 0 no-repeat;
    background-size: 667px 704px;
    -webkit-background-size: 667px 704px;
    text-align: center;
    z-index: 10;
}

.bonus_evt .spot .inner {
    width: 320px;
    margin: 0 auto;
}

.bonus_evt .spot .point_spot {
    padding-top: 104px;
}

.bonus_evt .spot .point_spot h2 {
    line-height: 28px;
    padding-bottom: 15px;
    font-size: 30px;
    color: #350053;
    letter-spacing: -1px;
    font-family: 'NanumSquareBold';
}

.bonus_evt .spot .point_spot .title {
    display: inline-block;
    padding-bottom: 5px;
    line-height: 23px;
    color: #6803a1;
    font-size: 18px;
    letter-spacing: -0.7px;
    font-weight: normal;
}

.bonus_evt .spot .point_spot .sub_txt {
    display: inline-block;
    line-height: 20px;
    color: #9c55c3;
    font-size: 15px;
}

.bonus_evt .spot .point_spot .event_link {
    display: block;
    margin: 18px 0 0 -13px;
    width: 330px;
    height: 160px;
}

.bonus_evt .spot .point_spot .event_info dt {
    width: 120px;
    height: 25px;
    margin: 0 auto 19px;
    color: #f6d7ff;
    font-size: 14px;
    line-height: 26px;
    background-color: #650499;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

.bonus_evt .spot .point_spot .event_info dd {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 30px;
    letter-spacing: -0.85px;
    color: #000;
}

.bonus_evt .spot .point_spot .event_info dd p {
    margin-bottom: 5px;
    letter-spacing: -0.7px;
}

.bonus_evt .spot .point_spot .event_info dd em {
    color: #7200b3;
}

.bonus_evt .spot .point_spot .event_info dd span {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.7px;
    color: #9c55c3;
}

.bonus_evt .spot .point_spot .btn_case>a {
    display: block;
    width: 280px;
    height: 45px;
    margin: 0 auto;
    line-height: 46px;
    letter-spacing: -0.7px;
    color: #fff;
    font-size: 18px;
    font-family: 'NanumSquareBold';
    background-color: #8c10d1;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bonus_evt .spot .point_spot .btn_case>a em {
    font-size: 14px;
    color: #eed0f6;
    font-family: 'NanumSquare';
}

.bonus_evt .spot .point_spot .btn_case>a.btn3{
    font-size:15px;
    line-height:17px;
    padding-top:6px;
}
.bonus_evt .spot .point_spot .btn_case>a.btn3 em{
    font-size:13px;
}

.bonus_evt .spot .point_spot .btn_case>a .txt_case {
    font-size: 16px;
}

.bonus_evt .spot .point_spot .btn_case>a.basic_color {
    background-color: #570385;
}

.bonus_evt .spot .point_spot .n_txt {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #9047b8;
}

.bonus_evt .spot .point_spot .n_link {
    display: inline-block;
    text-decoration: underline;
    color: #9047b8;
}

/*레이어팝업*/

.ly_area {
    display: none;
}

.ly_area.on {
    display: block;
}

.ly_area .dimd {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000, endColorstr=#70000000);
    zoom: 1;
    z-index: 50;
}

.ly_area.event_one .ly_pop {
    position: fixed;
    width: 270px;
    height: 206px;
    top: 50%;
    left: 50%;
    margin: -132px 0 0 -135px;
    background: url(../im/popup1.png) no-repeat 0 0;
    background-size: 270px 206px;
    -webkit-background-size: 270px 206px;
    z-index: 100;
}

.ly_area.event_return .ly_pop {
    position: fixed;
    width: 270px;
    height: 230px;
    top: 50%;
    left: 50%;
    margin: -119px 0 0 -135px;
    background: url(../im/popup2.png) no-repeat 0 0;
    background-size: 270px 230px;
    -webkit-background-size: 270px 230px;
    z-index: 100;
}

.ly_area.event_win .ly_pop {
    position: fixed;
    width: 270px;
    height: 237px;
    top: 50%;
    left: 50%;
    margin: -119px 0 0 -135px;
    background: url(../im/popup3.png) no-repeat 0 0;
    background-size: 270px 237px;
    -webkit-background-size: 270px 237px;
    z-index: 100;
}

.ly_area.event_error .ly_pop {
    position: fixed;
    width: 270px;
    height: 189px;
    top: 50%;
    left: 50%;
    margin: -119px 0 0 -135px;
    background: url(../im/popup4.png) no-repeat 0 0;
    background-size: 270px 189px;
    -webkit-background-size: 270px 189px;
    z-index: 100;
}

.ly_area .ly_pop .point_box {
    overflow: hidden;
    position: absolute;
    top: 93px;
    left: 112px;
    width: 82px;
    height: 55px;
    line-height: 58px;
    text-align: center;
}

.ly_area .ly_pop .point_box .number {
    font-size: 21px;
    color: #01c73c;
    font-weight: bold;
    letter-spacing: -1.05px;
}

.ly_area .ly_close {
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background: none;
    font: 1px;
    line-height: 999px;
    border: none;
    cursor: pointer;
}

/* slick slider add css */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider button {
    border: 0
}

.slick-list {
    position: relative;
    display: block;
    /* overflow:hidden; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    overflow: hidden;
    position: relative;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    left: -10px;
    right: auto;
    z-index: 10;
}

.slick-next {
    right: -10px;
    left: auto;
}

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 85px;
    display: block;
    width: 16px;
    height: 34px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../im/sp_arrow.png) -20px 0px no-repeat;
    background-size: 36px 34px;
    -webkit-background-size: 36px 34px;
}

.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 85px;
    display: block;
    width: 16px;
    height: 34px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../im/sp_arrow.png) 0px 0px no-repeat;
    background-size: 36px 34px;
    -webkit-background-size: 36px 34px;
}

/* Dots */

.slick-dotted.slick-slider {}

.slick-dots {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 3px;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
    z-index: 999;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 3px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #260a90;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-dots li.slick-active button {
    background-color: #ffd200;
}