@charset "utf-8";

/* NanumBarunGothic font */
@font-face {
 font-family: 'NanumSquare';
 src: url(../font/NanumSquareRegular.eot);
 src: url(../font/NanumSquareRegular.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRegular.woff) format('woff'),
      url(../font/NanumSquareRegular.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareBold';
 src: url(../font/NanumSquareBold.eot);
 src: url(../font/NanumSquareBold.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareBold.woff) format('woff'),
      url(../font/NanumSquareBold.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareExtrabold';
 src: url(../font/NanumSquareExtrabold.eot);
 src: url(../font/NanumSquareExtrabold.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareExtrabold.woff) format('woff'),
      url(../font/NanumSquareExtrabold.ttf) format('truetype');
}
