@import 'sample.scss';

.wrap_global .section .inner{
  overflow:hidden;
  position: relative;
  width: 865px;
  padding-top:221px;
  margin: 0 auto;
}
.wrap_global .section .inner [class*="spot_box"] {
  position: relative;
  float: left;
  width: 372px;
  height: 376px;
}
.wrap_global .section .inner .spot_box2{
  margin-left: 120px;
}
.wrap_global .section .inner [class*=spot_link] {
  position:absolute;
  bottom:0;
  width:100%;
  height:108px;
}
.wrap_global .section {
  height: 1793px;
  background: #8419c1 url(./img/kr/bg_section.jpg) 50% 0 no-repeat
}
.wrap_global [class*=section] .inner .lst {
  overflow: hidden;
  width: 1445px;
  margin: 0 auto;
  padding-top: 85px;
}

.wrap_global [class*=section] .inner .lst li {
  position: relative;
  float: left;
  width: 454px;
  height: 394px;
}

.wrap_global [class*=section] .inner .lst li+li {
  margin-left: 40px
}
.wrap_global [class*=section] .inner .lst.lst_02 li+li {
  margin-left: 38px
}


.wrap_global [class*=section] .inner .lst.lst_02 {
  width:1438px;
  margin:0 auto;
  padding-top: 223px;
}
.wrap_global [class*=section] .inner .lst li .link_all {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:1;
}
.wrap_global [class*=section] .inner .lst li .link_1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 156px;
  height: 145px;
  z-index: 10;
}
.wrap_global [class*=section] .inner .lst li .link_2{
  position:absolute;
  right:0;
  bottom:0;
  width: 156px;
  height: 145px;
  z-index:10;
}