{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@actions": "./actions",
                    "@assets": "./assets",
                    "@components": "./components",
                    "@utils": "./utils",
                    "@constants":"./constants",
                    "@selectors":"./selectors"
                }
            }
        ]
    ],
    "presets": ["env", "react"]
}
